$primaryActiveColor: #2aa198;

@mixin centerfiy{
  display: flex;
  justify-content: center;
  align-items: center
}

@mixin fullScreen{
    height: 100vh;
}


a.navbar-item.is-active{
  color: $primaryActiveColor !important;
}
