// Place all the styles related to the IDStock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./generic";

#prova-menu{
  width: 100%
}

.dropdown, .dropdown-trigger{
  width: 100%
}

.SecurityName{
  width: 70%;
  display: inline-flex;
}
.SummaryBtn{
  width: 20%;
  display: inline-flex;
  a{
    margin-left: auto;
    margin-right: 0;
  }
}

#section-table{
  padding-top: 0px;
}

#no-bottom-padding{
  padding-bottom: 0px;
}


#Small-table{
  tr {
    td {
       font-size:10px;
     }
    th {
      font-size:13px;
    }
  }
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  // .card {
  //   display: inline-block;
  // }
}
