<section class="section" id="section-table">
  <table class="table">
    <tbody>
      <thead>
        <tr>
          <th>Exchange</th>
          <th>Region</th>
          <th>Description</th>
        </tr>
      </thead>
      <% @result.each_with_index do |row, index| %>
        <tr>
          <% row.each do |value| %>
            <td> <%= value[1] %> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<script type="text/javascript">
  //Set the menu active, is-active
  $("[name='navbar_EM']").addClass("is-active")
</script>
