
<section class="section">
    <div class="container">
      <h1 class="title">Security Master</h1>
      <div class="field">
        <div class="dropdown">
            <div class="dropdown-trigger">
                <input id="prova" class="input" type="text" placeholder="Security Code" aria-haspopup="true" aria-controls="prova-menu">
            </div>
            <div class="dropdown-menu" id="prova-menu" role="menu" />
        </div>
      </div>
    </div>
    <section class="section" id="no-bottom-padding">
      <div class="container">
        <h1 id="SecurityName" class="title"></h1>
        <h2><%= @symbol %></h2>
        <hr>

        <div class="columns">
          <div class="column is-one-fifth"><h3 class="subtitle">Region</h3></div>
          <div class="column is-two-fifth" id="c_Region"></div>
          <div class="column is-one-fifth"><h3 class="subtitle">Exchange</h3></div>
          <div class="column is-two-fifth" id="c_exchange"></div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth"><h3  class="subtitle">iexID</h3></div>
          <div class="column is-two-fifth" id="c_iexID"></div>
          <div class="column is-one-fifth"><h3  class="subtitle">Currency</h3></div>
          <div class="column is-two-fifth" id="c_Currency"></div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth"><h3  class="subtitle">StockType</h3></div>
          <div class="column is-two-fifth" id="c_StockType"></div>
          <div class="column is-one-fifth"><h3  class="subtitle">Start Date</h3></div>
          <div class="column is-two-fifth" id="c_StartDate"></div>
        </div>

      </div>
    </section>
</section>
<section class="section" id="section-table">
  <table class="table">
    <tbody>
      <tr>
        <th>Market Cap</th>
        <td class="marketcap"></td>
        <th>Float</th>
        <td class="float"></td>
        <th>Employees</th>
        <td class="employees"></td>
        <th>Shares Outstanding</th>
        <td class="sharesOutstanding"></td>
      </tr>
      <tr>
        <th>Next Earnings Date</th>
        <td class="nextEarningsDate"></td>
        <th>ex Dividend Date</th>
        <td class="exDividendDate"></td>
        <th>Next Dividend Rate</th>
        <td class="nextDividendRate"></td>
        <th>Dividend Yield</th>
        <td class="dividendYield"></td>
      </tr>
      <tr>
        <th>ttm EPS</th>
        <td class="ttmEPS"></td>
        <th>ttm DividendRate</th>
        <td class="ttmDividendRate"></td>
        <th>Max ChangePercent</th>
        <td class="maxChangePercent"></td>
        <th>peRatio</th>
        <td class="peRatio"> </td>
      </tr>
      <tr>
        <th>Week 52 Change</th>
        <td class="week52change"></td>
        <th>Week 52 high</th>
        <td class="week52high"></td>
        <th>Week 52 low</th>
        <td class="week52low"></td>
        <th> </th>
        <td> </td>
      </tr>
      <tr>
        <th>200 Days Moving Avg</th>
        <td class="day200MovingAvg"></td>
        <th>50 Days Moving Avg</th>
        <td class="day50MovingAvg"></td>
        <th>30 Avg Volume</th>
        <td class="avg30Volume"></td>
        <th>10 Avg Volume</th>
        <td class="avg10Volume"></td>
      </tr>
      <tr>
        <th>5 Year % Change</th>
        <td class="year5ChangePercent"></td>
        <th>2 Year % Change</th>
        <td class="year2ChangePercent"></td>
        <th>1 Year % Change</th>
        <td class="year1ChangePercent"></td>
        <th>YTD Year % Change </th>
        <td class="ytdChangePercent"></td>
      </tr>
      <tr>
        <th>6 Month % Change</th>
        <td class="month6ChangePercent"></td>
        <th>3 Month % Change</th>
        <td class="month3ChangePercent"></td>
        <th>1 Month % Change</th>
        <td class="month1ChangePercent"></td>
        <th> </th>
        <td> </td>
      </tr>
      <tr>
        <th>30 Days % Change</th>
        <td class="day30ChangePercent"></td>
        <th>5 Days % Change</th>
        <td class="day5ChangePercent"> </td>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>



<script type="text/javascript">
  // Set the menu active, is-active
  $("[name='navbar_SM']").addClass("is-active")

  var api = function(inputValue) {
    return fetch('http://localhost:3000/id_stock/Security?Security='+inputValue).then(function(resp) {
      return resp.json()
    }).then(function(filtered) {
      return filtered.map(function(secMaster) {
        return {label: secMaster.SecurityName, value: secMaster.Symbol}
      })
    }).then(function(transformed) {
      return transformed.slice(0, 5)
    })
  }

  var onSelect = function(state){
    window.location.href = window.location.pathname + "?Symbol=" + state.value;
  }

  bulmahead('prova', 'prova-menu', api ,onSelect ,200);

  $( document ).on('turbolinks:load', function() {
    fetch('http://localhost:3000/id_stock/SecuritySymbol?Symbol=<%= @symbol %>').then(function(resp){
      return resp.json();
    }).then(function(mapJson) {
      return mapJson.map(function(secMaster) {
        return {SecurityName: secMaster.SecurityName,
                Region: secMaster.Region,
                Startdate: secMaster.Startdate,
                Symbol: secMaster.Symbol,
                iexID: secMaster.iexID,
                StockType: secMaster.StockType,
                Exchange: secMaster.exchange,
                Currency: secMaster.currency
                }
      })
    }).then(function(secObj){
        $('#SecurityName').text(secObj[0].SecurityName);
        $('#c_StartDate').text(secObj[0].Startdate);
        $('#c_Region').text(secObj[0].Region);
        $('#c_iexID').text(secObj[0].iexID);
        $('#c_StockType').text(secObj[0].StockType);
        $('#c_exchange').text(secObj[0].Exchange);
        $('#c_Currency').text(secObj[0].Currency);
    });

    fetch('http://localhost:3000/id_stock/SecurityStat?Symbol=<%= @symbol %>').then(function(resp){
      return resp.json();
    }).then(function(mapJson) {
      $('.week52change').text(mapJson.week52change);
      $('.week52high').text(mapJson.week52high);
      $('.week52low').text(mapJson.week52low);
      $('.marketcap').text(mapJson.marketcap);
      $('.employees').text(mapJson.employees);
      $('.day200MovingAvg').text(mapJson.day200MovingAvg);
      $('.day50MovingAvg').text(mapJson.day50MovingAvg);
      $('.float').text(mapJson.float);
      $('.sharesOutstanding').text(mapJson.sharesOutstanding);
      $('.avg10Volume').text(mapJson.avg10Volume);
      $('.avg30Volume').text(mapJson.avg30Volume);
      $('.ttmEPS').text(mapJson.ttmEPS);
      $('.ttmDividendRate').text(mapJson.ttmDividendRate);
      $('.companyName').text(mapJson.companyName);
      $('.maxChangePercent').text(mapJson.maxChangePercent);
      $('.year5ChangePercent').text(mapJson.year5ChangePercent);
      $('.year2ChangePercent').text(mapJson.year2ChangePercent);
      $('.year1ChangePercent').text(mapJson.year1ChangePercent);
      $('.ytdChangePercent').text(mapJson.ytdChangePercent);
      $('.month6ChangePercent').text(mapJson.month6ChangePercent);
      $('.month3ChangePercent').text(mapJson.month3ChangePercent);
      $('.month1ChangePercent').text(mapJson.month1ChangePercent);
      $('.day30ChangePercent').text(mapJson.day30ChangePercent);
      $('.day5ChangePercent').text(mapJson.day5ChangePercent);
      $('.nextDividendRate').text(mapJson.nextDividendRate);
      $('.dividendYield').text(mapJson.dividendYield);
      $('.nextEarningsDate').text(mapJson.nextEarningsDate);
      $('.exDividendDate').text(mapJson.exDividendDate);
      $('.peRatio').text(mapJson.peRatio);
    })

  })

</script>
