
  <section class="section">
    <div class="container is-fluid">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Security Master
            </h1>
            <div class="Search_SM">

              <div class="field">
                <div class="control">
                  <input type="text" class="input" name="Search_input" placeholder="Security Code">
                </div>
              </div>

            </div>
          </div>

        </div>
      </section>

    </div>
  </section>

<script type="text/javascript">
  //Set the menu active, is-active
  $("[name='navbar_SM']").addClass("is-active")
</script>
