
<h1>IdStock#TopGainer</h1>
<p>Find me in app/views/id_stock/TopGainer.html.erb</p>


<script type="text/javascript">
  //Set the menu active, is-active
  // $("[name='navbar_list']").removeClass("is-active")
  // $("[name='navbar_list']").addClass("is-active")
</script>
